/* 标签label */
.WearCategory0{--cl:#00ff00;--cb:#00ff0040}
.WearCategory1{--cl:#6ab912;--cb:#6ab91240}
.WearCategory2{--cl:#F1AD4D;--cb:#F1AD4D40}
.WearCategory3{--cl:#b95712;--cb:#b9571240}
.WearCategory4{--cl:#b91212;--cb:#b9121240}
.WearCategoryNA{--cl:#ffffff;--cb:#ffffff40}

/* CS:GO */
[data-csgo-Type="CSGO-Type-Knife"]{--y:0}
[data-csgo-Type="CSGO-Type-Pistol"]{--y:-1}
[data-csgo-Type="CSGO-Type-Rifle"]{--y:-2}
[data-csgo-Type="CSGO-Type-SMG"]{--y:-3}
[data-csgo-Type="CSGO-Type-Shotgun"]{--y:-4}
[data-csgo-Type="CSGO-Type-Machinegun"]{--y:-4}
[data-csgo-Type="Type-Hands"]{--y:-5}
[data-csgo-Type="CSGO-Tool-Sticker"]{--y:-6}

[data-csgo-Rarity="Rarity_Ancient"]{--cl:#eb4b4b;--cb:#eb4b4b40}
[data-csgo-Rarity="Rarity_Ancient_Character"]{--cl:#eb4b4b;--cb:#eb4b4b40}
[data-csgo-Rarity="Rarity_Ancient_Weapon"]{--cl:#eb4b4b;--cb:#eb4b4b40}
[data-csgo-Rarity="Rarity_Common"]{--cl:#b0c3d9;--cb:#b0c3d940}
[data-csgo-Rarity="Rarity_Common_Weapon"]{--cl:#b0c3d9;--cb:#b0c3d940}
[data-csgo-Rarity="Rarity_Contraband"]{--cl:#e4ae39;--cb:#e4ae3940}
[data-csgo-Rarity="Rarity_Legendary"]{--cl:#d32ce6;--cb:#d32ce640}
[data-csgo-Rarity="Rarity_Legendary_Character"]{--cl:#d32ce6;--cb:#d32ce640}
[data-csgo-Rarity="Rarity_Legendary_Weapon"]{--cl:#d32ce6;--cb:#d32ce640}
[data-csgo-Rarity="Rarity_Mythical"]{--cl:#8847ff;--cb:#8847ff40}
[data-csgo-Rarity="Rarity_Mythical_Character"]{--cl:#8847ff;--cb:#8847ff40}
[data-csgo-Rarity="Rarity_Mythical_Weapon"]{--cl:#8847ff;--cb:#8847ff40}
[data-csgo-Rarity="Rarity_Rare"]{--cl:#4b69ff;--cb:#4b69ff40}
[data-csgo-Rarity="Rarity_Rare_Character"]{--cl:#4b69ff;--cb:#4b69ff40}
[data-csgo-Rarity="Rarity_Rare_Weapon"]{--cl:#4b69ff;--cb:#4b69ff40}
[data-csgo-Rarity="Rarity_Uncommon_Weapon"]{--cl:#5e98d9;--cb:#5e98d940}

[data-csgo-Quality="normal"]{--cl:#B2B2B2;--cb:#B2B2B240}
[data-csgo-Quality="strange"]{--cl:#CF6A32;--cb:#CF6A3240}
[data-csgo-Quality="tournament"]{--cl:#FFD700;--cb:#FFD70040}
[data-csgo-Quality="unusual"]{--cl:#8650AC;--cb:#8650AC40}
[data-csgo-Quality="unusual_strange"]{--cl:#8650AC;--cb:#8650AC40}

[data-csgo-WearCategory="WearCategory0"]{--cl:#00ff00;--cb:#00ff0040}
[data-csgo-WearCategory="WearCategory1"]{--cl:#6ab912;--cb:#6ab91240}
[data-csgo-WearCategory="WearCategory2"]{--cl:#F1AD4D;--cb:#F1AD4D40}
[data-csgo-WearCategory="WearCategory3"]{--cl:#b95712;--cb:#b9571240}
[data-csgo-WearCategory="WearCategory4"]{--cl:#b91212;--cb:#b9121240}
[data-csgo-WearCategory="WearCategoryNA"]{--cl:#b0c3d9;--cb:#ffffff40}


/* dota2 */

[data-dota-title='title-strength']{--x:0;--y:0}
[data-dota-title='title-agility']{--x:-1;--y:0}
[data-dota-title='title-intelligence']{--x:-2;--y:0}

[data-dota-npc="npc-dota-hero-abaddon"]{--x:0;--y:0}
[data-dota-npc="npc-dota-hero-alchemist"]{--x:-1;--y:0}
[data-dota-npc="npc-dota-hero-axe"]{--x:-2;--y:0}
[data-dota-npc="npc-dota-hero-beastmaster"]{--x:-3;--y:0}
[data-dota-npc="npc-dota-hero-brewmaster"]{--x:-4;--y:0}
[data-dota-npc="npc-dota-hero-bristleback"]{--x:-5;--y:0}
[data-dota-npc="npc-dota-hero-centaur"]{--x:-6;--y:0}
[data-dota-npc="npc-dota-hero-chaos_knight"]{--x:-7;--y:0}
[data-dota-npc="npc-dota-hero-rattletrap"]{--x:-8;--y:0}
[data-dota-npc="npc-dota-hero-doom_bringer"]{--x:-9;--y:0}
[data-dota-npc="npc-dota-hero-dragon_knight"]{--x:0;--y:-1}
[data-dota-npc="npc-dota-hero-earth_spirit"]{--x:-1;--y:-1}
[data-dota-npc="npc-dota-hero-earthshaker"]{--x:-2;--y:-1}
[data-dota-npc="npc-dota-hero-elder_titan"]{--x:-3;--y:-1}
[data-dota-npc="npc-dota-hero-huskar"]{--x:-4;--y:-1}
[data-dota-npc="npc-dota-hero-wisp"]{--x:-5;--y:-1}
[data-dota-npc="npc-dota-hero-kunkka"]{--x:-6;--y:-1}
[data-dota-npc="npc-dota-hero-legion_commander"]{--x:-7;--y:-1}
[data-dota-npc="npc-dota-hero-life_stealer"]{--x:-8;--y:-1}
[data-dota-npc="npc-dota-hero-lycan"]{--x:-9;--y:-1}
[data-dota-npc="npc-dota-hero-magnataur"]{--x:0;--y:-2}
[data-dota-npc="npc-dota-hero-night_stalker"]{--x:-1;--y:-2}
[data-dota-npc="npc-dota-hero-omniknight"]{--x:-2;--y:-2}
[data-dota-npc="npc-dota-hero-phoenix"]{--x:-3;--y:-2}
[data-dota-npc="npc-dota-hero-pudge"]{--x:-4;--y:-2}
[data-dota-npc="npc-dota-hero-sand_king"]{--x:-5;--y:-2}
[data-dota-npc="npc-dota-hero-slardar"]{--x:-6;--y:-2}
[data-dota-npc="npc-dota-hero-spirit_breaker"]{--x:-7;--y:-2}
[data-dota-npc="npc-dota-hero-sven"]{--x:-8;--y:-2}
[data-dota-npc="npc-dota-hero-tidehunter"]{--x:-9;--y:-2}
[data-dota-npc="npc-dota-hero-shredder"]{--x:0;--y:-3}
[data-dota-npc="npc-dota-hero-tiny"]{--x:-1;--y:-3}
[data-dota-npc="npc-dota-hero-treant"]{--x:-2;--y:-3}
[data-dota-npc="npc-dota-hero-tusk"]{--x:-3;--y:-3}
[data-dota-npc="npc-dota-hero-abyssal_underlord"]{--x:-4;--y:-3}
[data-dota-npc="npc-dota-hero-undying"]{--x:-5;--y:-3}
[data-dota-npc="npc-dota-hero-skeleton_king"]{--x:-6;--y:-3}
[data-dota-npc="npc-dota-hero-mars"]{--x:-7;--y:-3}
[data-dota-npc="npc-dota-hero-snapfire"]{--x:-8;--y:-3}

[data-dota-npc="npc-dota-hero-arc_warden"]{--x:-1;--y:-5}
[data-dota-npc="npc-dota-hero-bloodseeker"]{--x:-2;--y:-5}
[data-dota-npc="npc-dota-hero-bounty_hunter"]{--x:-3;--y:-5}
[data-dota-npc="npc-dota-hero-broodmother"]{--x:-4;--y:-5}
[data-dota-npc="npc-dota-hero-clinkz"]{--x:-5;--y:-5}
[data-dota-npc="npc-dota-hero-drow_ranger"]{--x:-6;--y:-5}
[data-dota-npc="npc-dota-hero-ember_spirit"]{--x:-7;--y:-5}
[data-dota-npc="npc-dota-hero-faceless_void"]{--x:-8;--y:-5}
[data-dota-npc="npc-dota-hero-gyrocopter"]{--x:-9;--y:-5}
[data-dota-npc="npc-dota-hero-juggernaut"]{--x:0;--y:-6}
[data-dota-npc="npc-dota-hero-lone_druid"]{--x:-1;--y:-6}
[data-dota-npc="npc-dota-hero-luna"]{--x:-2;--y:-6}
[data-dota-npc="npc-dota-hero-medusa"]{--x:-3;--y:-6}
[data-dota-npc="npc-dota-hero-meepo"]{--x:-4;--y:-6}
[data-dota-npc="npc-dota-hero-mirana"]{--x:-5;--y:-6}
[data-dota-npc="npc-dota-hero-monkey_king"]{--x:-6;--y:-6}
[data-dota-npc="npc-dota-hero-morphling"]{--x:-7;--y:-6}
[data-dota-npc="npc-dota-hero-naga_siren"]{--x:-8;--y:-6}
[data-dota-npc="npc-dota-hero-nyx_assassin"]{--x:-9;--y:-6}
[data-dota-npc="npc-dota-hero-phantom_assassin"]{--x:0;--y:-7}
[data-dota-npc="npc-dota-hero-phantom_lancer"]{--x:-1;--y:-7}
[data-dota-npc="npc-dota-hero-razor"]{--x:-2;--y:-7}
[data-dota-npc="npc-dota-hero-riki"]{--x:-3;--y:-7}
[data-dota-npc="npc-dota-hero-nevermore"]{--x:-4;--y:-7}
[data-dota-npc="npc-dota-hero-slark"]{--x:-5;--y:-7}
[data-dota-npc="npc-dota-hero-sniper"]{--x:-6;--y:-7}
[data-dota-npc="npc-dota-hero-spectre"]{--x:-7;--y:-7}
[data-dota-npc="npc-dota-hero-templar_assassin"]{--x:-8;--y:-7}
[data-dota-npc="npc-dota-hero-terrorblade"]{--x:-9;--y:-7}
[data-dota-npc="npc-dota-hero-troll_warlord"]{--x:0;--y:-8}
[data-dota-npc="npc-dota-hero-ursa"]{--x:-1;--y:-8}
[data-dota-npc="npc-dota-hero-vengefulspirit"]{--x:-2;--y:-8}
[data-dota-npc="npc-dota-hero-venomancer"]{--x:-3;--y:-8}
[data-dota-npc="npc-dota-hero-viper"]{--x:-4;--y:-8}
[data-dota-npc="npc-dota-hero-weaver"]{--x:-5;--y:-8}
[data-dota-npc="npc-dota-hero-pangolier"]{--x:-6;--y:-8}

[data-dota-npc="npc-dota-hero-ancient_apparition"]{--x:0;--y:-10}
[data-dota-npc="npc-dota-hero-bane"]{--x:-1;--y:-10}
[data-dota-npc="npc-dota-hero-batrider"]{--x:-2;--y:-10}
[data-dota-npc="npc-dota-hero-chen"]{--x:-3;--y:-10}
[data-dota-npc="npc-dota-hero-crystal_maiden"]{--x:-4;--y:-10}
[data-dota-npc="npc-dota-hero-dark_seer"]{--x:-5;--y:-10}
[data-dota-npc="npc-dota-hero-dazzle"]{--x:-6;--y:-10}
[data-dota-npc="npc-dota-hero-death_prophet"]{--x:-7;--y:-10}
[data-dota-npc="npc-dota-hero-disruptor"]{--x:-8;--y:-10}
[data-dota-npc="npc-dota-hero-enchantress"]{--x:-9;--y:-10}
[data-dota-npc="npc-dota-hero-enigma"]{--x:0;--y:-11}
[data-dota-npc="npc-dota-hero-invoker"]{--x:-1;--y:-11}
[data-dota-npc="npc-dota-hero-jakiro"]{--x:-2;--y:-11}
[data-dota-npc="npc-dota-hero-keeper_of_the_light"]{--x:-3;--y:-11}
[data-dota-npc="npc-dota-hero-leshrac"]{--x:-4;--y:-11}
[data-dota-npc="npc-dota-hero-lich"]{--x:-5;--y:-11}
[data-dota-npc="npc-dota-hero-lina"]{--x:-6;--y:-11}
[data-dota-npc="npc-dota-hero-lion"]{--x:-7;--y:-11}
[data-dota-npc="npc-dota-hero-furion"]{--x:-8;--y:-11}
[data-dota-npc="npc-dota-hero-necrolyte"]{--x:-9;--y:-11}
[data-dota-npc="npc-dota-hero-ogre_magi"]{--x:0;--y:-12}
[data-dota-npc="npc-dota-hero-oracle"]{--x:-1;--y:-12}
[data-dota-npc="npc-dota-hero-obsidian_destroyer"]{--x:-2;--y:-12}
[data-dota-npc="npc-dota-hero-puck"]{--x:-3;--y:-12}
[data-dota-npc="npc-dota-hero-pugna"]{--x:-4;--y:-12}
[data-dota-npc="npc-dota-hero-queenofpain"]{--x:-5;--y:-12}
[data-dota-npc="npc-dota-hero-rubick"]{--x:-6;--y:-12}
[data-dota-npc="npc-dota-hero-shadow_demon"]{--x:-7;--y:-12}
[data-dota-npc="npc-dota-hero-shadow_shaman"]{--x:-8;--y:-12}
[data-dota-npc="npc-dota-hero-silencer"]{--x:-9;--y:-12}
[data-dota-npc="npc-dota-hero-skywrath_mage"]{--x:0;--y:-13}
[data-dota-npc="npc-dota-hero-storm_spirit"]{--x:-1;--y:-13}
[data-dota-npc="npc-dota-hero-techies"]{--x:-2;--y:-13}
[data-dota-npc="npc-dota-hero-tinker"]{--x:-3;--y:-13}
[data-dota-npc="npc-dota-hero-visage"]{--x:-4;--y:-13}
[data-dota-npc="npc-dota-hero-warlock"]{--x:-5;--y:-13}
[data-dota-npc="npc-dota-hero-windrunner"]{--x:-6;--y:-13}
[data-dota-npc="npc-dota-hero-winter_wyvern"]{--x:-7;--y:-13}
[data-dota-npc="npc-dota-hero-witch_doctor"]{--x:-8;--y:-13}
[data-dota-npc="npc-dota-hero-zuus"]{--x:-9;--y:-13}
[data-dota-npc="npc-dota-hero-dark_willow"]{--x:0;--y:-14}
[data-dota-npc="npc-dota-hero-grimstroke"]{--x:-1;--y:-14}
[data-dota-npc="npc-dota-hero-void_spirit"]{--x:-2;--y:-14}

[data-dota-Rarity="Rarity_Ancient"]{--cl:#EB4B4B;--cb:#EB4B4B40}
[data-dota-Rarity="Rarity_Arcana"]{--cl:#ADE55C;--cb:#ADE55C40}
[data-dota-Rarity="Rarity_Common"]{--cl:#b0c3d9;--cb:#b0c3d940}
[data-dota-Rarity="Rarity_Immortal"]{--cl:#e4ae39;--cb:#e4ae3940}
[data-dota-Rarity="Rarity_Legendary"]{--cl:#d32ce6;--cb:#d32ce640}
[data-dota-Rarity="Rarity_Mythical"]{--cl:#8847ff;--cb:#8847ff40}
[data-dota-Rarity="Rarity_Rare"]{--cl:#4b69ff;--cb:#4b69ff40}
[data-dota-Rarity="Rarity_Uncommon"]{--cl:#5e98d9;--cb:#5e98d940}

[data-dota-Quality="haunted"]{--cl:#8650AC;--cb:#8650AC40}
[data-dota-Quality="vintage"]{--cl:#476291;--cb:#47629140}
[data-dota-Quality="unusual"]{--cl:#8650AC;--cb:#8650AC40}
[data-dota-Quality="unique"]{--cl:#D2D2D2;--cb:#D2D2D240}
[data-dota-Quality="tournament"]{--cl:#8650AC;--cb:#8650AC40}
[data-dota-Quality="strange"]{--cl:#CF6A32;--cb:#CF6A3240}
[data-dota-Quality="lucky"]{--cl:#32CD32;--cb:#32CD3240}
[data-dota-Quality="legacy"]{--cl:#FFFFFF;--cb:#FFFFFF40}
[data-dota-Quality="infused"]{--cl:#8847ff;--cb:#8847ff40}
[data-dota-Quality="ascendant"]{--cl:#EB4B4B;--cb:#EB4B4B40}
[data-dota-Quality="genuine"]{--cl:#4D7455;--cb:#4D745540}
[data-dota-Quality="frozen"]{--cl:#4682B4;--cb:#4682B440}
[data-dota-Quality="favored"]{--cl:#FFFF00;--cb:#FFFF0040}
[data-dota-Quality="exalted"]{--cl:#CCCCCC;--cb:#CCCCCC40}
[data-dota-Quality="corrupted"]{--cl:#A52A2A;--cb:#A52A2A40}
[data-dota-Quality="base"]{--cl:#B2B2B2;--cb:#B2B2B240}
[data-dota-Quality="autographed"]{--cl:#ADE55C;--cb:#ADE55C40}

/*pubg*/
[data-pubg-Type="weapons"]{--y:0}
[data-pubg-Type="headgear"]{--y:-1}
[data-pubg-Type="face"]{--y:-2}
[data-pubg-Type="shirts"]{--y:-3}
[data-pubg-Type="jackets"]{--y:-4}
[data-pubg-Type="gloves"]{--y:-5}
[data-pubg-Type="bottoms"]{--y:-6}
[data-pubg-Type="footwear"]{--y:-7}
[data-pubg-Type="crates"]{--y:-8}

/*z1*/
[data-z1-Type="weapons"]{--y:0}
[data-z1-Type="head"]{--y:0}
[data-z1-Type="chest"]{--y:0}
[data-z1-Type="backpack"]{--y:0}
[data-z1-Type="feet"]{--y:0}
[data-z1-Type="legs"]{--y:0}
[data-z1-Type="hands"]{--y:0}
[data-z1-Type="eyes"]{--y:0}
[data-z1-Type="others"]{--y:0}